{% extends "base.html" %}
  {% block content %}
    <!-- body section 1 -->
    <div class="section1">
    <p>Left Column</p>
      <div class="push"></div>
    </div>
     
    <!-- body section 2 -->
    <div class="section2">
      <h1>Login page</h1>
      <form action="" method='POST'>
        <p><input type="text" placeholder="Username" name="username" value="{{request.form.username}}"></p>
        <p><input type="password" placeholder="Password" name="password" value="{{request.form.password}}"></p>
        <p><input class="btn btn-default" type="submit" value="Login"></p>
      </form>
      {% if error %}
      <p class="error"><string>Error:</string>{{ error }}</p>
      {% endif %}
      <div class="push"></div>
    </div>

    <!-- body section 3 -->
    <div class="section3">
      <p>Right Column</p>
      <div class="push"></div>
    </div>

  {% endblock content %}